{:deps {:aliases [:cljs :test]}
 :dev-http {8021 "target/shadow-browser-test"}

 :builds
 {:node-test
  {:target    :node-test
   :output-to "target/shadow-node-test/node-tests.js"
   :ns-regexp "-test"
   :compiler-options {:warnings {:redef-in-file false
                                 :fn-deprecated false}}}

  :browser-test
  {:target :browser-test
   :test-dir "target/shadow-browser-test"
   :compiler-options {:warnings {:redef-in-file false
                                 :fn-deprecated false}}}}}
